<%= flash[:notice] %>

  <div class="container">
  <div class="row">
    <div class="col-xs-3"> 
    <%= render "users/userinfo", user:@user %>
    <%= render "books/newbook", book:@book %>
    </div>
        <div class="col-xs-9">
        <h2>Book detail</h2>
           <table class="table table-hover table-inverse">
             <tbody>
              <tr>
                <td><%=link_to user_path(@book.user.id) do %>
                <%= attachment_image_tag @book.user, :profile_image, :fill, 40, 40, format: 'jpeg', class: "img-circle pull-left profile-img",fallback: "no_image.jpg"%>
               <br>
               <br>
               <br>
               <p><%= @book.user.name %></p>
                <% end %></td>
                <td><%=link_to user_path(@book.user.id) do %>
                <%= @book.title %>
                <% end %></td>
                <td><%= @book.body %></td>
    <% if @user.id == current_user.id %>
   <td> <%= link_to "Edit", edit_book_path(@book), class: "btn btn-default" %></td>
   <td> <%= link_to "Destroy", book_path(@book), method: :delete , class: "btn btn-default" %></td>
    <% end %>
              </tr>
            </tbody>
      </table>
    </div>
  </div>
</div>
